body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

button,
input,
label {
  cursor: pointer;
}

/*HEADER*/

.site-header {
  margin-bottom: 59px;

  display: flex;
  flex-direction: column;

  background-color: #f3f7f8;
}

.site-header-wrapper {
  width: 100%;

  background-color: #293449;
}

.container-wrapper {
  width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}

/*HEADER-TOP*/

.header-top {
  font-size: 17px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
}

.header-top a {
  color: #ffffff;
}

.site-logo {
width: 220px;
margin-right: 10px;

background-color: #ee3643;
box-shadow: inset 0px -5px 0px 0px #b52933;
}

.site-logo:hover,
.site-logo:focus {
  background-color: #ca2c37;
} 

.site-logo:active {
  background-color: #ba2732;
}

form.search {
  display: flex;
  flex-direction: row-reverse;
  width: 240px;
  margin-right: 10px;
}

.search-button {
  color: #6a7180;
  background-color: #293449;

  border: none;
}

.search input {
  color: #ffffff;
  background-color: #293449;

  border: none;
}

.search input:focus {
  color: #000000;
  
  background-color: #ffffff;
}

.search input:hover ~ .search-button {
  color: #ffffff;
}

.search input:focus ~ .search-button {
  color: #ee3643;
  background-color: #ffffff;
}

.search input::-webkit-input-placeholder {color:#ffffff; opacity:1;}/* webkit */
.search input::-moz-placeholder          {color:#ffffff; opacity:1;}/* Firefox 19+ */
.search input:-moz-placeholder           {color:#ffffff; opacity:1;}/* Firefox 18- */
.search input:-ms-input-placeholder      {color:#ffffff; opacity:1;}/* IE */

.header-interactive {
  width: 150px;
}

.header-interactive:hover,
.header-interactive:focus {
  background-color: #212a3a;
}

.header-interactive:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.place-order {
  width: 150px;
  margin-left: 10px;

  background-color: #63a63e;
}

.place-order:hover,
.place-order:focus {
  background-color: #5fbb2d;
}

.place-order:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #518534;
}

/*HEADER-DOWN*/

.header-down-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-information {
  margin-top: 46px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.header-information h1 {
  width: 300px;
  margin-right: 20px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;

}

.contacts {
  width: 300px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 24px;

}

.contacts span {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 2px solid #ffffff;
}

.user-navigation {
  width: 300px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 21px;
  line-height: 21px;

  list-style: none;
}

.user-navigation a {
  display: block;
  color: #000000;

  background-color: #ffffff;
}

.enter {
  width: 120px;
  margin-left: 20px;
}

.registration {
  margin-left: 10px;
  width: 150px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.personal-information {
  width: 300px;
}

.account a {
  display: block;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.account a:active {
  color: rgba(0, 0, 0, 0.3);
}

.personal-information ul {
  padding: 0;
  list-style: none;
}

.personal-information li {
  display: inline-block;
}

.choice-user a {
  
  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  text-decoration: underline;
}

.choice-user a:hover,
.choice-user a:focus {
  color: #ee3643;
}

.choice-user a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*SITE-MENU*/

.site-menu {
  padding: 0;
  margin-bottom: 60px;
  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  box-shadow: inset 0px -4px 0px 0px #293449;
}

.menu-items {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;

  padding-top: 22px;
  padding-bottom: 22px;

  list-style: none;
}

.menu-items a {
  color: #ffffff;
}

.menu-items a:hover,
.menu-items a:focus {
  background-color: #293449;
}

.menu-items a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*ABOUT-COMPANY CONTACTS*/

.about-company {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans", Arial, sans-serif;
}

.about-company h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}

.company-information {
  width: 540px;
}

.transport {
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", Arial, sans-serif;
}

.contacts-map {
  width: 320px;
}

.button-about-company {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Cuprum", Arial, sans-serif;

  background-color: #ee3643;
}

.button-about-company:hover,
.button-about-company:focus {
  background-color: #ca2c37;
}

.button-about-company:active {
  background-color: #ba2732;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #000000;
}

/*PERFORATOR*/

.perforators-header {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

/*FILTRES*/

.filtres-catalog {
  display: flex;
  justify-content: space-between;
}

.filtres {
  width: 220px;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter ul {
  list-style: none;
}

.filter-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;

  border: 1px solid #e5e5e5;
}

/*CATALOG-LIST*/

.catalog-list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;

  list-style: none;
}

.catalog-list li {
  margin-left: 20px;
  width: 220px;
  border: 1px solid #e5e5e5;
}

.perforator-image a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Cuprum",  Arial, sans-serif;
}

.perforator-image a:first-child {
  color: #ffffff; 

  background-color: #63a63e;
  box-shadow: inset 0px -2px 0px 0px #367315;
}

.perforator-image a:first-child:hover,
.perforator-image a:first-child:focus {
  background-color: #5fbb2d;
}

.perforator-image a:first-child:active {
  background-color: #518534;
  box-shadow: none;
}

.perforator-image a:nth-child(2) {
  color: #000000;
  border: 2px solid #63a63e;
}

.perforator-image a:nth-child(2):hover,
.perforator-image a:nth-child(2):focus {
  color: #32425c;
  border: 2px solid #32425c;
}

.perforator-price {
  font-size: 17px;
  line-height: 18px;
}

.perforator-image a:nth-child(2):active {
  color: rgba(50, 66, 92, 0.3);
  border: 2px solid rgba(50, 66, 92, 0.3);
}

.old-price {
  color: #999999;
  text-decoration: line-through;
}

.catalog-item-price {
  color: #ffffff;
  background-color: #ee3643;
}

/*FOOTER*/

.site-footer {
  margin-top: 86px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.site-footer ul {
  padding: 0;
  margin: 0;

  list-style: none;
}

/*FOOTER-TOP*/

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-information {
  width: 380px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 550px;
}

.footer-site-menu {
  display: flex;
  justify-content: space-between;
}
.footer-site-menu a {
  color: #ffffff;
}

.product {
  display: flex;
  justify-content: space-between;
}

.product a {
  color: #ffd180;
}

.product a:hover,
.product a:focus {
  text-decoration: underline;
}

.product a:active {
  text-decoration: none;
  color: #ad956f;
}

/*FOOTER-DOWN*/

.footer-down-wrapper {
  width: 100%;

  background-color: #293449;
}

.footer-down {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.footer-social {
  display: flex;

  list-style: none;
}

.social-button {
  color: #ffffff;

  background-color: #212a3b;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.feedback a,
.creator a {
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.creator a:hover,
.creator a:focus {
  text-decoration: underline;
}

.feedback a:active,
.creator a:active {
  text-decoration: none;
  color: #ee3643;
}

/*.modal-write-message {
    font-size: 18px;
  line-height: 18px;

  background-color: #ffffff;
  box-shadow: inset 0 7px 0 0 #ee3643;
}

.send-message-button {
  background-color: #f1f1f1;
}

.send-button {
  color: #ffffff;

  background-color: #ee3643;

  border: none;
}

.send-button:active {
  background-color: #b22832;
}

.appoitment-item input[type="text"]:hover {
  border: 2px solid #b5b5b5;
}

.appoitment-item input[type="text"]:focus {
  border: 2px solid #ee3643;
}

.modal-close {
  color:#ee3643;
}*/

