body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

button,
input,
label {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*HEADER*/

.site-header {
  display: flex;
  flex-direction: column;

  background-color: #f3f7f8;
}

.site-header-wrapper {
  width: 100%;

  background-color: #293449;
}

/*HEADER-TOP*/

.header-top {
  position: relative;

  display: flex;

  font-size: 17px;
  line-height: 18px;
}

.header-top a {
  color: #ffffff;
}

.site-logo {
  position: absolute;

  width: 110px;
  height: 19px;
  padding: 13px 55px 15px 55px;

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0px 0px #b52933;
}

.site-logo:hover,
.site-logo:focus {
  background-color: #ca2c37;
}

.site-logo:active {
  background-color: #ba2732;
}

/*FORM SEARCH*/

form.search {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  width: 240px;
  margin-right: 20px;
  margin-left: 230px;
}

.search-button {
  width: 40px;

  background-color: #293449;
  border: none;
}

.search input {
  color: #ffffff;

  background-color: #293449;
  border: none;
}

.search input:focus {
  color: #000000;

  background-color: #ffffff;
}

.search input:hover ~ .search-button path {
  fill: #ffffff;
}

.search input:focus ~ .search-button {
  background-color: #ffffff;
}

.search input:focus ~ .search-button path {
  fill: #ee3643;
}

.search input::-webkit-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input::-moz-placeholder {
  color: #ffffff; 

  opacity: 1;
}

.search input:-moz-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input:-ms-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.search input[type=text]::-ms-clear {
  display: none;
  width : 0;
  height: 0;
}
.search input[type=text]::-ms-reveal {
  display: none;
  width : 0;
  height: 0;
}
.search input[type="search"]::-webkit-search-decoration,
.search input[type="search"]::-webkit-search-cancel-button,
.search input[type="search"]::-webkit-search-results-button,
.search input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*HEADER-INTERACTIVE*/

.header-interactive.bookmarks {
  position: relative;

  width: 96px;
  padding: 12px 0 12px 54px;
}

.header-interactive.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 27px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-interactive.basket {
  position: relative;
  width: 100px;
  padding: 12px 0 12px 60px;
}

.header-interactive.basket::before {
  position: absolute;
  top: 12px;
  left: 27px;

  content: "";
  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-interactive:hover,
.header-interactive:focus {
  background-color: #212a3a;
}

.header-interactive.basket:hover::before,
.header-interactive.basket:focus::before,
.header-interactive.bookmarks:hover::before,
.header-interactive.bookmarks:focus::before {
  opacity: 1;
}

.header-interactive:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #161d29;
}

.header-interactive.basket:active::before,
.header-interactive.bookmarks:active::before {
  opacity: 0.5;
}

.place-order {
  width: 120px;
  padding: 12px 20px;
  margin-left: 10px;

  background-color: #63a63e;
}

.place-order:hover,
.place-order:focus {
  background-color: #5fbb2d;
}

.place-order:active {
  color: rgba(255, 255, 255, 0.6);

  background-color: #518534;
}

/*HEADER-DOWN*/

.header-down {
  padding-top: 46px;
  padding-bottom: 60px;
}

.header-down-inner {
  display: flex;
  justify-content: space-between;
}

.header-information {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.header-information h1 {
  width: 248px;
  margin: 0;
  padding-left: 52px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.contacts {
  width: 300px;
  margin: 0;

  font-size: 14px;
  line-height: 24px;
}

.contacts span {
  position: relative;

  display: inline-block;

  width: 200px;
  padding: 10px 0 10px 70px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 2px solid #ffffff;
}

.contacts span::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;

  width: 20px;
  height: 20px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 21px;

  list-style: none;
}

.user-navigation a {
  display: block;

  color: #000000;

  background-color: #ffffff;
}

.enter {
  position: relative;

  width: 46px;
  margin-left: 20px;
  padding: 12px 27px 12px 42px;
}

.enter svg {
  position: absolute;
  top: 14px;
  left: 14px;
}

.enter svg:hover path {
  fill: #32425c;
}

.enter svg:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.registration {
  width: 100px;
  margin-left: 10px;
  padding: 12px 25px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*PERSONAL-INFORMATION*/

.personal-information {
  position: relative;

  width: 300px;
}

.account a:first-of-type {
  padding: 12px 68px 12px 47px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.account a:active {
  color: rgba(0, 0, 0, 0.3);
}

svg.icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

svg.icon:hover path {
  fill: #32425c;
}

svg.icon:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.exit {
  position: absolute;
  right: 10px;
}

.exit:hover path {
  fill: #32425c;
}

.exit:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.personal-information ul {
  padding: 0 0 0 18px;

  list-style: none;
}

.personal-information li {
  display: inline-block;
  min-width: 74px;
  padding-right: 32px;
}

.choice-user a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  text-decoration: underline;
}

.choice-user a:hover,
.choice-user a:focus {
  color: #ee3643;
}

.choice-user a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*SITE-MENU*/

.site-menu {
  font-size: 17px;
  line-height: 17px;
  padding: 45px 0 0 0; 
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  background-color: #32425c;
  box-shadow: inset 0px -5px 0px 0px #293449;
  list-style: none;
}

.menu-items a {
  display: block;
  padding: 19px 29px 24px 29px;

  color: #ffffff;
}

.menu-items a:hover,
.menu-items a:focus {
  background-color: #293449;
}

.menu-items a:active {
  color: rgba(255, 255, 255, 0.5);
}

/*ABOUT-COMPANY CONTACTS*/

.about-company {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 0 0;

  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  font-family: "PT Sans", Arial, sans-serif;
}

.about-company h2 {
  margin: 0;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}

.company-information {
  width: 540px;
  margin: 0;
  padding: 0;
}

.company-information p {
  margin: 0;
  padding: 25px 0 0 0;
}

.transport {
  margin: 0;
  padding: 15px 0 0 35px;
  font-size: 18px;
  line-height: 20px;
}

.transport li {
  padding-bottom: 20px;
}

.contacts-map {
  width: 300px;
}

.contacts-map p {
  margin: 0;
  padding: 26px 0 33px 0;
}

.button-company {
  display: inline-block;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  color: #ffffff;

  background-color: #ee3643;
}

.button-company.information {
  margin-top: 20px;
  padding: 10px 40px;
}

.button-company.contact {
  width: 237px;
  margin-top: 30px;
  padding: 10px 0 10px 63px;
}

.button-company:hover,
.button-company:focus {
  background-color: #ca2c37;
}

.button-company:active {
  background-color: #ba2732;
}

/*BREADCRUMBS*/

.breadcrumbs {
  position: relative;
  display: flex;
  margin: 0;
  padding: 22px 0;

  text-transform: uppercase;

  list-style: none;
}

.breadcrumbs a {
  padding-left: 39px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs a::before {
  content: "";
  position: absolute;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 7px;
  height: 12px;
}

.breadcrumbs-current {
  padding-left: 41px;
}

.index {
  width: 10px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*PERFORATOR*/

.perforators-header h2 {	
  margin: 0 0 20px 0;
  padding: 30px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

/*FILTRES*/

.filtres-catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.filtres {
  width: 220px;
  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter fieldset {
  border: none;
}

.filter legend {
  padding-bottom: 12px;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-option {
  padding-bottom: 17px;

  font-size: 15px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.filter-checkbox {
  position: relative;
  padding-left: 35px;

  cursor: pointer;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 19px;
  height: 19px;
  
  border: 2px solid #c5c5c5;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 7px;

  width: 20px;
  height: 5px;

  background-color: #c5c5c5;

  transform: rotate(-45deg);
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";

  position: absolute;
  top: 7px;
  left: 4px;

  width: 11px;
  height: 5px;

  background-color: #c5c5c5;

  transform: rotate(45deg);
}

.filter-radio {
  position: relative;
  padding-left: 35px;

  cursor: pointer;
}

.filter-radio input[type="radio"] + .radio-indicator {
  position: absolute;
  top: 0;
  left: 0;

  width: 21px;
  height: 21px;
  
  border: 2px solid #c5c5c5;
  border-radius: 50%;
}

.filter-radio input[type="radio"]:checked + .radio-indicator::before {
  content: "";

  position: absolute;
  top: 5px;
  left: 5px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border: 1px solid #c5c5c5;
  border-radius: 50%;
}

.filter-button {
  margin-top: 76px;
  padding: 9px;
 
  width: 138px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

/*CATALOG-LIST*/

.catalog {
  width: 700px;
}

.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;

  list-style: none;
}

.catalog-list li {
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-bottom: 21px;

  border: 1px solid #e5e5e5;
}

.perforator-title {
  text-align: center;
}


.perforator-title h4 {
  margin: 0;
  padding: 0;
}

.perforator-image {
  order: -1;
}



.perforator-image a {
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum",  Arial, sans-serif;
  text-transform: uppercase;
}

.perforator-image a:first-child {
  color: #ffffff; 

  background-color: #63a63e;
  box-shadow: inset 0px -2px 0px 0px #367315;
}

.perforator-image a:first-child:hover,
.perforator-image a:first-child:focus {
  background-color: #5fbb2d;
}

.perforator-image a:first-child:active {
  background-color: #518534;
  box-shadow: none;
}

.perforator-image a:nth-child(2) {
  color: #000000;

  border: 2px solid #63a63e;
}

.perforator-image a:nth-child(2):hover,
.perforator-image a:nth-child(2):focus {
  color: #32425c;

  border: 2px solid #32425c;
}

.perforator-image a:nth-child(2):active {
  color: rgba(50, 66, 92, 0.3);

  border: 2px solid rgba(50, 66, 92, 0.3);
}

.perforator-price {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.old-price {
  color: #999999;

  text-decoration: line-through;
}

.old-price.no-price {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.catalog-item-price {

  position: relative;

  color: #ffffff;
}

.catalog-item-price span {
  content: "";
  position: absolute;
  top: 10px;
  left: 78px;
}

/*FOOTER*/

.site-footer {
  margin-top: 86px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;

  background-color: #32425c;
}

.site-footer ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

/*FOOTER-TOP*/

.site-logo-footer {
  position: absolute;

  width: 136px;
  height: 22px;
  padding: 21px 42px 25px 42px; 

  background-color: #ee3643;
  box-shadow: inset 0px -5px 0px 0px #b52933;
}

.site-logo-footer:hover,
.site-logo-footer:focus {
  background-color: #ca2c37;
}

.site-logo-footer:active {
  background-color: #ba2732;
}

.footer-top {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.footer-information {
  width: 380px;
}

.footer-contacts {
  margin: 0;
  padding-top: 97px;
  padding-bottom: 51px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.footer-site-menu {
  display: flex;
  justify-content: space-between;
}

.footer-site-menu a {
  display: block;
  padding-top: 39px;

  color: #ffffff;
}

.product {
  display: flex;
  justify-content: space-between;
}

.product a {
  display: block;
  padding-top: 39px;
  padding-left: 25px;

  color: #ffd180;
}

.product a:hover,
.product a:focus {
  text-decoration: underline;
}

.product a:active {
  color: #ad956f;

  text-decoration: none;
}

/*FOOTER-DOWN*/

.footer-down-wrapper {
  width: 100%;

  background-color: #293449;
}

.footer-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 36px;
  
  font-size: 16px;
  line-height: 18px;

  background-color: #293449;
}

.copyright {
  width: 300px;
}

.footer-social {
  display: flex;
  flex: wrap;
  justify-content: space-between;
  width: 133px;
  padding-right: 107px;

  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;

  color: #ffffff;

  background-color: #212a3b;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.feedback a,
.creator a {
  color: #ffd180;
}

.feedback a:hover,
.feedback a:focus,
.creator a:hover,
.creator a:focus {
  text-decoration: underline;
}

.feedback a:active,
.creator a:active {
  color: #ee3643;

  text-decoration: none;
}

/*MODAL*/

/*MODAL-WRITE-MESSAGE*/

.modal {
  position: fixed;

  display: none;
}

.modal-show {
  display: block;
}

.modal-container {
  width: 460px;
  padding: 46px 80px 37px 80px;
}

.modal-write-message {
  bottom: 500px;
  left: 50%;

  width: 620px;
  margin: -310px;

  font-size: 18px;
  line-height: 18px;
  
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.75);
  border-top: 7px solid #ee3643;
}

.write-message {
  background-color: #ffffff;
}

.user-data {
  display: flex;
  justify-content: space-between;
}

.appoitment-item {
  margin: 0;
  padding: 0;
  width: 220px;
}

.appoitment-item input[type="text"],
.appoitment-item input[type="email"] {
  box-sizing: border-box;
  width: 220px;
  margin-top: 11px;
  padding: 10px 14px 11px 14px;

  border: 2px solid #dee3e4;
}

.appoitment-item-text {
  margin: 0;
  padding: 20px 0 0 0;
}

.appoitment-item-text textarea {
  box-sizing: border-box;
  width: 460px;
  margin-top: 11px;
  padding: 10px 14px;

  border: 2px solid #dee3e4;

  resize: none;
}

.send-message-button {
  width: 460px;
  margin: 0;
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.send-button {
  margin: 0;
  padding: 12px;
  width: 100%;

  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.send-button:active {
  background-color: #b22832;
}

.appoitment-item input[type="text"]:hover,
.appoitment-item input[type="email"]:hover,
.appoitment-item-text textarea:hover {
  border: 2px solid #b5b5b5;
}

.appoitment-item input[type="text"]:focus,
.appoitment-item input[type="email"]:focus,
.appoitment-item-text textarea:focus {
  border: 2px solid #ee3643;
}

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  font-size: 0;
  
  background-color: transparent;
  border: 0;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -2px;
  

  width: 25px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-close:active, button:focus {
  outline: none;
}
.modal-close::-moz-focus-inner {
  border: 0;
}

/*MODAL-MAP*/

.modal-map {
  position: fixed;
  top: 500px;
  left: 50%;

  width: 940px;
  height: 447px;
  margin: -470px;
  
  box-shadow: 0 0 16px rgba(47, 42, 43, 0.5);
}

.modal-close-map {
  position: absolute;
  top: 19px;
  right: 19px;

  width: 21px;
  height: 21px;

  font-size: 0;
  
  background-color: transparent;
  border: 0;
}

.modal-close-map::before,
.modal-close-map::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -2px;
  
  width: 25px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close-map::before {
  transform: rotate(45deg);
}

.modal-close-map::after {
  transform: rotate(-45deg);
}

/*ITEM-IN-BUSKET*/

.item-in-busket {
  top: 700px;
  left: 50%;

  width: 620px;
  margin: -310px;
  
  box-shadow: 0 20px 40px #293449;
  border-top: 7px solid #ee3643;
}

.item-in-busket h2 {
  margin: 0;
  padding: 66px 126px 68px 179px;
  
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;

  background-color: #ffffff;
}

.item-in-busket h2::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 80px;

  width: 66px;
  height: 66px;

  background-image: url("../img/form-1.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.busket-choice {
  display: flex;
  padding: 37px 80px;

  font-size: 14px;
  line-height: 18px;

  background-color: #f1f1f1;
}

.order-busket {
  margin-right: 20px;
  padding: 12px 0;
  width: 220px;
  
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.continue-shopping {
  padding: 12px 0;
  width: 220px;
  
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
  border: none;
}